@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Kevin's Page";
}

<!-- Title -->
<h1>Kevin Paul</h1>

<!-- Picture of me -->
<img src="img/69359472802__EAEE6B18-2104-4649-AFF6-51EC5C988EAB.jpg" />

<br />
<!-- Paragraph -->
<p>I would love to learn a lot of things throughout this class. I'm excited to learn C#, and how to use ASP.net. By the end of this class I would love to be able to create my own web application for fun!</p>

<!-- List of jobs -->
<ol>
    <li>Software Developer</li>
    <li>Cloud Engineer</li>
    <li>Data Analyst</li>
</ol>